:root {
  --color-black: #000;
  --color-green: #49C100;
  --color-terminal-green: #6AC54B;
  --color-terminal-yellow: #ECC14B;
  --color-terminal-red: #D45B55;
  --color-white: #fff;
  --color-light-gray: #ddd;
  --color-light-black: #222;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url('https://images.pexels.com/photos/247791/pexels-photo-247791.png?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-size: cover;
  height: 100vh;
}

p {
  line-height: 1.5rem;
}

/* Animations */
@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotation {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.ghost {
  background: var(--color-light-black);
  color: var(--color-green);
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.ghost h1 {
  font-size: 4rem;
}

.ghost.active {
  align-items: center;
  display: flex;
  justify-content: center;
}

.link {
  color: var(--color-green);
}

.bye {
  display: none;
}

.bye.active {
  display: block;
}

.bye p {
  color: var(--color-terminal-red);
}
/* Themes */
.theme-console {
  background: rgb(30, 30, 40);
  background-repeat: repeat;
  background-size: 20px 10px;
  color: var(--color-green);
}

.theme-console .title {
  color: rgba(var(--color-white), .9);
  font-size: 2rem;
  text-shadow: 0 .1em 0 var(--color-black); 
}

.terminal {
  margin-bottom: 50px;
}

.terminal-content {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1rem;
  height: 80%;
  margin: 30px auto 0;
  transition: all .4s ease-in;
  width: 95%;
}

.terminal.expanded .terminal-content {
  height: 100%;
  margin: 0;
  width: 100vw;
}

.terminal-header {
  border: 1px solid var(--color-light-gray);
  border-radius: 10px 10px 0 0;
  background: var(--color-light-gray);
  color: var(--color-black);
  padding: 10px;
}

.terminal-body {
  background: var(--color-light-black);
  color: var(--color-green);
  height: 100%;
  min-height: 50vh;
  padding: 20px;
  position: relative;
}

.terminal .active-line:after {
  content: "|";
  margin-left: 10px;
  animation: blink 1s 1.5s infinite;
}

.terminal-buttons {
  display: flex;
  flex-flow: row;
}

.terminal-button {
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  margin-right: 10px;
  outline: none;
  width: 20px;
}

.terminal-button--yellow {
  background: var(--color-terminal-yellow);
}

.terminal-button--green {
  background: var(--color-terminal-green);
}

.terminal-button--red {
  background: var(--color-terminal-red);
}

.terminal-text--block {
  display: flex;
  flex-flow: column;
}

.terminal-text--label {
  text-align: center;
}

.terminal-input--text {
  background: transparent;
  border: none;
  color: var(--color-green);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  padding: 10px;
  width: 80%;
}

.terminal-input--text:hover,
.terminal-input--text:focus,
.terminal-input--text:active {
  outline: none;
}

.terminal-action--button {
  visibility: hidden;
}

.terminal-cursor--input::before {
  content: "$/ >";
}

.terminal-info {
  border: 1px dotted var(--color-green);
  margin: 0 0 30px;
  padding: 10px;
}

.terminal-data,
.terminal-data-skills,
.terminal-data-projects {
  transition: all .5s ease;
  margin: 10px 0;
}

.terminal--list {
  list-style: none;
  margin-left: 0;
}

.terminal--list li {
  margin: 5px 0;
}

.terminal--list li a {
  color: inherit;
}

.show {
  opacity: 1;
}

.show p {
  animation: rotation 1s .1s 1;
}

.terminal-skills--block {
  border: 1px dotted var(--color-green);
  padding: 10px;
}

.terminal-data-aside {
  color: rgb(132, 200, 247);
}

.welcome {
  align-items: center;
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 100%;
}

.welcome-title h1 {
  border-bottom: 3px dashed var(--color-green);
  border-top: 3px dashed var(--color-green);
  letter-spacing: .5rem;
  margin: 50px 0;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 1px 1px 1px var(--color-black),
        1px 2px 1px var(--color-black),
        1px 3px 1px var(--color-black),
        1px 4px 1px var(--color-black),
        1px 5px 1px var(--color-black),
        1px 6px 1px var(--color-black),
        1px 7px 1px var(--color-black),
        1px 8px 1px var(--color-black),
        1px 9px 1px var(--color-black),
        1px 10px 1px var(--color-black),
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

@media only screen and (min-width: 600px) { 
  .welcome-title h1 {
    font-size: 4rem;
  }

  .terminal-content {
    width: 80%;
  }
  
  .terminal-body {
    padding: 40px;
  }
}